<a href="https://colab.research.google.com/github/Saurav-23/Saurav_N-Edac-2020/blob/master/Credit_Card_Fraud_Alert.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Importing the Dependencies

In [36]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [2]:
# Loading the dataset into a Pandas Dataframe
credit_card_data = pd.read_csv('/content/creditcard.csv')

In [3]:
# Printing first 5 rows of dataset
credit_card_data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0.0
1,0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0.0
2,1,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0.0
3,1,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0.0
4,2,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0.0

In [4]:
# Printing last 5 rows of dataset
credit_card_data.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
118916,75258,-0.400562,0.796051,1.293955,0.731412,0.623474,0.389912,0.193303,0.255464,-0.959676,...,-0.150737,-0.482722,-0.081130,-0.704004,-0.406030,0.380806,0.105859,0.111712,3.57,0.0
118917,75259,-0.557053,1.346246,1.200168,0.000210,0.013877,-0.987596,0.732596,-0.086406,-0.268141,...,-0.289889,-0.676420,-0.010844,0.341705,-0.095647,0.075118,0.354930,0.158705,2.58,0.0
118918,75260,-0.699902,1.358861,0.872725,-0.330006,0.742800,-0.008402,0.876206,-0.132127,0.055402,...,-0.396684,-0.673428,-0.094253,-0.802380,-0.009427,0.132434,0.317275,-0.009761,8.92,0.0
118919,75261,-0.555099,0.711335,2.451733,0.182059,-0.353331,0.002886,0.209619,0.234448,-0.011626,...,0.129578,0.538553,-0.109130,0.545239,-0.368523,-0.664367,0.194232,0.160418,4.99,0.0
118920,75261,-8.996607,-10.950200,-1.546811,-0.328207,0.380136,-2.034444,-1.890544,-2.477667,3.290178,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
# credit card info
credit_card_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 118921 entries, 0 to 118920
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    118921 non-null  int64
 1   V1      118921 non-null  float64
 2   V2      118921 non-null  float64
 3   V3      118921 non-null  float64
 4   V4      118921 non-null  float64
 5   V5      118921 non-null  float64
 6   V6      118921 non-null  float64
 7   V7      118921 non-null  float64
 8   V8      118921 non-null  float64
 9   V9      118921 non-null  float64
 10  V10     118921 non-null  float64
 11  V11     118921 non-null  float64
 12  V12     118921 non-null  float64
 13  V13     118921 non-null  float64
 14  V14     118921 non-null  float64
 15  V15     118921 non-null  float64
 16  V16     118920 non-null  float64
 17  V17     118920 non-null  float64
 18  V18     118920 non-null  float64
 19  V19     118920 non-null  float64
 20  V20     118920 non-null  float64
 21  V21     118920 non-null  float64
 22  V22     118920 non-null  float64
 23  V23     118920 non-null  float64
 24  V24     118920 non-null  float64
 25  V25     118920 non-null  float64
 26  V26     118920 non-null  float64
 27  V27     118920 non-null  float64
 28  V28     118920 non-null  float64
 29  Amount  118920 non-null  float64
 30  Class   118920 non-null  float64
dtypes: float64(30), int64(1)
memory usage: 28.1 MB

In [6]:
# Check the number of missing values in each column
credit_card_data.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       1
V17       1
V18       1
V19       1
V20       1
V21       1
V22       1
V23       1
V24       1
V25       1
V26       1
V27       1
V28       1
Amount    1
Class     1
dtype: int64

In [7]:
# Distribution of Legit Transaction and Frauduelent Transaction
credit_card_data['Class'].value_counts()

0.0    118675
1.0       245
Name: Class, dtype: int64

This Dataset is Highly Unbalanced Dataset

0 --> Normal Transactions

1 --> Frauduelent Transactions

In [9]:
# separating data for analysis
legit = credit_card_data[credit_card_data.Class == 0]
fraud = credit_card_data[credit_card_data.Class == 1]

In [10]:
print(legit.shape)
print(fraud.shape)

(118675, 31)
(245, 31)

In [11]:
# statistical measures for data for Legit Amount
legit.Amount.describe()

count    118675.000000
mean         94.429486
std         256.253714
min           0.000000
25%           6.935000
50%          25.000000
75%          85.000000
max       19656.530000
Name: Amount, dtype: float64

In [12]:
# statistical measures for data for Fraud Amount
fraud.Amount.describe()

count     245.000000
mean      119.680449
std       253.139731
min         0.000000
25%         1.000000
50%         9.990000
75%        99.990000
max      1809.680000
Name: Amount, dtype: float64

In [13]:
# compare the values for both transactions
credit_card_data.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0.0,47042.055757,-0.242216,-0.018811,0.696058,0.145521,-0.275628,0.093347,-0.102248,0.057052,-0.070574,...,0.042830,-0.037906,-0.112689,-0.035506,0.011474,0.130987,0.027257,-0.000288,0.001786,94.429486
1.0,39701.477551,-5.886809,4.103574,-7.511475,4.669282,-4.192594,-1.518032,-6.236171,1.572145,-2.697855,...,0.256012,1.336234,-0.328282,-0.103411,-0.106834,0.202962,0.078099,0.526875,0.067733,119.680449

Under Sampling

Build a Sample dataset containing similar distribution of normal transactions and fraudulent transactions

Number of Fraudulent transactions --> 245

In [14]:
legit_sample = legit.sample(n=245)

Concatenating Two DataFrames

In [15]:
new_dataset = pd.concat([legit_sample,fraud], axis=0)

In [16]:
new_dataset.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
14060,25029,1.238249,0.038902,0.589443,0.174498,-0.621018,-0.859388,-0.262618,-0.136791,1.680149,...,-0.225245,-0.400549,0.142163,0.368540,0.063588,0.935525,-0.100558,-0.005641,0.85,0.0
5331,5247,1.427390,-1.245373,1.287512,-1.183209,-1.945091,-0.126837,-1.754773,-0.065824,0.011284,...,-0.080809,0.391489,-0.089545,-0.159590,0.250664,-0.054158,0.052639,0.034236,49.99,0.0
71995,54524,1.076641,0.325792,1.000640,2.391341,-0.377566,0.222033,-0.356065,0.322378,-0.605808,...,-0.024790,-0.198570,0.138296,0.140604,0.112282,-0.123940,0.006824,0.014678,0.77,0.0
92451,63936,1.054000,-1.078654,0.010964,-0.492656,-1.112000,-0.762364,-0.206607,-0.277327,-0.833651,...,-0.205642,-0.506383,-0.204909,0.093613,0.273002,1.117492,-0.092051,0.036325,198.00,0.0
116644,74372,1.292141,0.547418,-0.903180,0.568281,0.527116,-0.672201,0.255962,-0.089500,-0.293955,...,-0.162402,-0.466880,-0.192047,-0.622628,0.634015,0.404439,-0.038876,0.023227,0.76,0.0

In [17]:
new_dataset.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
112840,72824,-1.111495,-0.257575,2.250210,1.152671,0.432904,1.254126,-0.584163,-0.609682,1.014602,...,0.862913,0.927825,-0.343058,-0.256268,-0.600742,-0.180331,0.026762,-0.358335,45.03,1.0
114271,73408,-2.869795,1.335667,-1.009530,1.693885,-0.741480,-0.796773,-2.614242,1.066636,-1.135497,...,0.528421,0.228027,-0.749298,-0.067179,0.215792,-0.453651,0.349191,0.198862,16.48,1.0
116139,74159,-1.548788,1.808698,-0.953509,2.213085,-2.015728,-0.913457,-2.356013,1.197169,-1.678374,...,0.855138,0.774745,0.059037,0.343200,-0.468938,-0.278338,0.625922,0.395573,76.94,1.0
116404,74262,-2.250535,2.365755,-2.955491,0.089791,-2.830745,-0.844462,-0.174062,-0.407138,0.174216,...,0.256560,-0.466245,0.291105,0.242567,-1.279094,-1.123534,-0.630977,0.326839,311.28,1.0
118308,75033,-0.430330,0.985633,0.645789,0.317131,0.616332,-1.347462,1.078234,-0.161518,-0.492856,...,-0.016378,-0.207609,-0.164119,0.255280,0.454798,-0.505032,-0.039456,-0.006358,30.14,1.0

In [18]:
# Value counts after Concatenating two DataFrames
new_dataset['Class'].value_counts()

0.0    245
1.0    245
Name: Class, dtype: int64

In [19]:
# Finding mean value after concatenation
new_dataset.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0.0,48725.020408,-0.271509,0.042220,0.613124,0.242995,-0.284344,0.044587,-0.062986,0.065676,-0.138649,...,-0.042770,-0.082633,-0.116716,0.004898,0.010708,0.185394,0.058299,-0.028980,0.015416,89.906286
1.0,39701.477551,-5.886809,4.103574,-7.511475,4.669282,-4.192594,-1.518032,-6.236171,1.572145,-2.697855,...,0.256012,1.336234,-0.328282,-0.103411,-0.106834,0.202962,0.078099,0.526875,0.067733,119.680449

Splitting data into features and target

In [22]:
X = new_dataset.drop(columns='Class',axis = 1)
Y = new_dataset['Class']

In [23]:
print(X)

         Time        V1        V2        V3        V4        V5        V6  \
14060   25029  1.238249  0.038902  0.589443  0.174498 -0.621018 -0.859388
5331     5247  1.427390 -1.245373  1.287512 -1.183209 -1.945091 -0.126837
71995   54524  1.076641  0.325792  1.000640  2.391341 -0.377566  0.222033
92451   63936  1.054000 -1.078654  0.010964 -0.492656 -1.112000 -0.762364
116644  74372  1.292141  0.547418 -0.903180  0.568281  0.527116 -0.672201
...       ...       ...       ...       ...       ...       ...       ...
112840  72824 -1.111495 -0.257575  2.250210  1.152671  0.432904  1.254126
114271  73408 -2.869795  1.335667 -1.009530  1.693885 -0.741480 -0.796773
116139  74159 -1.548788  1.808698 -0.953509  2.213085 -2.015728 -0.913457
116404  74262 -2.250535  2.365755 -2.955491  0.089791 -2.830745 -0.844462
118308  75033 -0.430330  0.985633  0.645789  0.317131  0.616332 -1.347462

              V7        V8        V9  ...       V20       V21       V22  \
14060  -0.262618 -0.136791  1.680149  ... -0.230656 -0.225245 -0.400549
5331   -1.754773 -0.065824  0.011284  ... -0.222562 -0.080809  0.391489
71995  -0.356065  0.322378 -0.605808  ... -0.287910 -0.024790 -0.198570
92451  -0.206607 -0.277327 -0.833651  ... -0.065932 -0.205642 -0.506383
116644  0.255962 -0.089500 -0.293955  ... -0.064612 -0.162402 -0.466880
...          ...       ...       ...  ...       ...       ...       ...
112840 -0.584163 -0.609682  1.014602  ... -0.510614  0.862913  0.927825
114271 -2.614242  1.066636 -1.135497  ...  0.011557  0.528421  0.228027
116139 -2.356013  1.197169 -1.678374  ...  0.390786  0.855138  0.774745
116404 -0.174062 -0.407138  0.174216  ... -0.486537  0.256560 -0.466245
118308  1.078234 -0.161518 -0.492856  ... -0.115282 -0.016378 -0.207609

             V23       V24       V25       V26       V27       V28  Amount
14060   0.142163  0.368540  0.063588  0.935525 -0.100558 -0.005641    0.85
5331   -0.089545 -0.159590  0.250664 -0.054158  0.052639  0.034236   49.99
71995   0.138296  0.140604  0.112282 -0.123940  0.006824  0.014678    0.77
92451  -0.204909  0.093613  0.273002  1.117492 -0.092051  0.036325  198.00
116644 -0.192047 -0.622628  0.634015  0.404439 -0.038876  0.023227    0.76
...          ...       ...       ...       ...       ...       ...     ...
112840 -0.343058 -0.256268 -0.600742 -0.180331  0.026762 -0.358335   45.03
114271 -0.749298 -0.067179  0.215792 -0.453651  0.349191  0.198862   16.48
116139  0.059037  0.343200 -0.468938 -0.278338  0.625922  0.395573   76.94
116404  0.291105  0.242567 -1.279094 -1.123534 -0.630977  0.326839  311.28
118308 -0.164119  0.255280  0.454798 -0.505032 -0.039456 -0.006358   30.14

[490 rows x 30 columns]

In [24]:
print(Y)

14060     0.0
5331      0.0
71995     0.0
92451     0.0
116644    0.0
         ...
112840    1.0
114271    1.0
116139    1.0
116404    1.0
118308    1.0
Name: Class, Length: 490, dtype: float64

Split the data into training data and testing data

In [25]:
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size=0.2,stratify=Y,random_state=2)

In [26]:
print(X.shape,X_train.shape,X_test.shape)

(490, 30) (392, 30) (98, 30)

Model Training

Logistic Regression

In [38]:
model = LogisticRegression()

In [39]:
# training the logistic regression model with training data
model.fit(X_train,Y_train)

/usr/local/lib/python3.9/dist-packages/sklearn/linear_model/_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

Model Evaluation

Accuracy Score

In [40]:
#accuracy on training data
X_train_prediction = model.predict(X_train)
training_data_accuracy = accuracy_score(X_train_prediction,Y_train)

In [41]:
print('Accuracy on training data:',training_data_accuracy)

Accuracy on training data: 0.951530612244898

In [42]:
#accuracy on testing data
X_test_prediction = model.predict(X_test)
testing_data_accuracy = accuracy_score(X_test_prediction,Y_test)

In [43]:
print('Accuracy on testing data:',testing_data_accuracy)

Accuracy on testing data: 0.9489795918367347